.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.logo__text {
    font-size: 32px;
    color: coral;
}
.menu {
    display: flex;
}
.menu__link {
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-size: 24px;
    transition: color 0.5s ease;
}
.menu__link:hover {
    color: var(--color-primary-dark);
}
.content {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-dark);
    padding: 16px;
}
